{% extends 'layout/tienda.html' %}

{% load cart_tags %}
{% block title %} Greaser - Inicio {% endblock %}

{% block content %}
    <div class="row ">
        <div class="col-lg-9  col-ms-12 col-md-12">
            <div class="row mx-sm-auto">
                {% for product in products %}
                    <div class="p-3 col-md-4 col-sm-6 col-lg-4 ">
                        <div class="card" style="color: white; width: 100%; background-color: rgba(53, 54, 58, 70%); padding: 10px 15px 0px 15px;">
                            <img src="{{ product.image.url }}" style="width: 100%;" class="card-img-top" alt="{{ product.name }}">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.excerpt }}</p>
                            <p>${{ product.price }}</p>
                            <div class="card-footer text-center "  >
                                <a href="{% url 'cart:add_product' product.id %}" class="btn btn-success " style="background-color: rgba(255, 184, 214,70%);">
                                    Añadir al carrito
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3  d-none d-lg-block">
            <!--carrito-->
            {% include "cart/widget.html" %}
        </div>
    </div>
    {% include "layout/paginacion.html" %}

{% endblock %}